body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header .subtitle {
    font-size: 1.2em;
    margin-top: 10px;
    color: #ff0000;
}

.todo-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ff00d4;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eb0909;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li.completed {
    text-decoration: line-through;
    background-color: #d3ffd3;
}

li:hover {
    background-color: #f1f1f1;
}

button.delete {
    background-color: #dd1a0c;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button.delete:hover {
    background-color: #e20909;
}
